*{
    margin: 0;
    border: 0;
}
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}

.main-header {
    width: 100vw;
    height: 10vh;
    background-color: #E2EFDE;
    /* border: 1.5px solid red; */
}




.footer-normal{
    width: 100vw;
    height: 10vh;
    background-color:#474747;
}

.content-container{
    width: 100vw;
    height: 80vh;
    background-color: #519872;
    display: flex;
    flex-wrap: wrap;
    /* padding: 2%; */
    /* border: 2px solid yellow; */
    align-items: center;
    justify-content: center;
   
}

.card{
    height: 200px;
    width: 150px;
    border: 2px black solid;
    /* flex: 0 1 200px; */
    align-self: start;
    margin: 4%;
    
}
